<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Radar</string>
	<key>CFBundleIconFile</key>
	<string>Radar.icns</string>
	<key>CFBundleIdentifier</key>
	<string>edu.tum.cs.radar</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>TRdr</string>
	<key>CFBundleVersion</key>
	<string>0.85β</string>
	<key>ImageDirectory</key>
	<string>Images</string>
	<key>MainPropertyListIdentifier</key>
	<string>main.plist</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UserPropertyList</key>
	<string>Users.plist</string>
</dict>
</plist>
